---
import Layout from '@/layouts/Layout.astro';

import About from '@/components/section/About.astro';
import Educations from '@/components/section/Educations.astro';
import Experience from '@/components/section/Experience.astro';
import Hero from '@/components/section/Hero.astro';
import Projects from '@/components/section/Projects.astro';
import Skills from '@/components/section/Skills.astro';
import KeyBoardManager from '@/components/KeyBoardManager.astro';
---

<Layout title="Curriculum Minimalista.">
	<main>
		<Hero />
		<About />
		<Educations />
		<Experience />
		<Projects />
		<Skills />
	</main>
	<KeyBoardManager />
</Layout>

<style>
	main {
		padding: 4rem;
		margin: auto;
		width: 100%;
	}
</style>
